.btn-warning-outline {
  border: 1px solid #d8ab2c;
  background-color: #77591733;
  color: #ffc107;
  display: inline;
}

.btn-success-outline {
  border: 1px solid #28a745;
  background-color: #28a74533;
  color: #50e24f;
  display: inline;
}

.btn-primary-outline {
  background-color: #007bff33;
  border: 1px solid #007bff;
  color: #007bff;
  display: inline;
}

.btn-secondary-outline {
  background-color: #6c757d33;
  border: 1px solid #6c757d;
  color: #adb5bd;
  display: inline;
}

