@import './variable.scss';

button,
input {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

p {
  margin: 0 !important;
}

.pointer {
  cursor: pointer;
}

.text-small {
  font-size: 12px !important;
}

.btn-dark {
  background-color: $main-dark;
}

.bg-nav-dark {
  background-color: $bg-nav-dark;
}