@import "./variable.scss";

.ctn-home {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $main-dark;
  padding: 50px 0 50px 0;
  color: $white;

  .wrap-panel-high {
    height: 500px;
    overflow: auto;
  }
}
